doctype html
html
  head
    title SIGURNOST
    style 
            include ./public/css/auten.css
  body
    div#losaAut
      h1 Loša autentifikacija
      div
        h2 Sign up
        form(action="/auten", method="post", onsubmit="return isGoodPassword(this)")
          div
            label(for="checkboxAut") Ranjivost uključena:
            input(type="checkbox", id="checkboxAut", name="checkboxAut")
          div
            label(for="mailUs") Mail:
            input(type="text", id="mailUs", name="mailUs", placeholder="mail")
          div
            label(for="pasUs") Lozinka:
            input(type="password", id="pasUs", name="pasUs", placeholder="password")
          div
            button(type="submit") Submit
      div
        h2 Log in
        form(action="/auten", method="post")
          div
            label(for="checkboxAutL") Ranjivost uključena:
            input(type="checkbox", id="checkboxAutL", name="checkboxAutL")
          div
            label(for="mailUsL") Mail:
            input(type="text", id="mailUsL", name="mailUsL", placeholder="mail")
          div
            label(for="pasUsL") Lozinka:
            input(type="password", id="pasUsL", name="pasUsL", placeholder="password")
          div.g-recaptcha(id='rec', data-sitekey="6LeswgcpAAAAAOghjuq_DVvSL5dW3WheZTSipzFJ")
          div
            button(type="submit") Submit
    div#sqlUmetanje
      a(href='/', title='sqlIn') SQL ubacivanje
    div#sqlUmetanje
      p 
        strong UPUTE: 
        | Kada je ranjivost isključena pri sign up-u korisnik mora imati dovoljno jaku lozinku 
      p te je u bazi pohranjena lozinka sa saltom i hashom, te radi token kako bi se moglo pristupiti toj stranici i njenim podatcima,
      p što se ne dogada kada je ranjivost uključena
      p Kada je ranjivost isključena pri log in-u mora se napraviti provjera CAPTCHA te se koristi salt iz baze za provjeru je li user ispravan
      p takoder kao i kod sign up-a kada se ide na tu stranicu radi se token koji se šalje u cookies kako bi se došlo do podataka, 
      p što se takoder ne dogada kada je ranjivost uključena
      p 
        strong NAPOMENA: 
        | useri koji se sign up-aju kada je ranjivost isključena mogu se na log in-u pristupiti samo kada je ranjivost ISTO isključena
      p to vrijedi i kada je ranjivost uključena
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script.
      function isGoodPassword(form) {
          if (!form.checkboxAut.checked) {
              var password = form.pasUs.value;
              const minLength = 8;
              const containsUpperCase = /[A-Z]/.test(password);
              const containsLowerCase = /[a-z]/.test(password);
              const containsNumber = /[0-9]/.test(password);
              const containsSpecialChar = /[!@#$%^&*]/.test(password);

              if (!(password.length >= minLength &&
                containsUpperCase &&
                containsLowerCase &&
                containsNumber &&
                containsSpecialChar)) {
                  alert("Lozinka mora imati 8 znakova, veliko i malo slovo, broj i poseban znak");
                  return false;
              }
          }
          return true;
      }
      document.addEventListener('DOMContentLoaded', function() {
          const checkbox = document.getElementById('checkboxAutL');
          const recaptcha = document.getElementById('rec')
          checkbox.addEventListener('change', ()=> {
              if(checkbox.checked) {
                  recaptcha.style.display = 'none'
              } else {
                  recaptcha.style.display = 'block'
              }
          })
      })
