html 
    head 
        title SIGURNOST
        style 
            include ./public/css/index.css
    body
        div(id = "sqlUmetanje")
            h1 SQL umetanje 
            form(action="/", method="post", onsubmit="return validation(this)")
                div
                    label(for="checkboxSQL") Ranjivost uključena:
                    input(type="checkbox", id="checkboxSQL", name="checkboxSQL")
                div 
                    label(for="textSQL") Korisničko ime: 
                    input(type="text", id="textSQL", name="textSQL", placeholder="username")
                div 
                    label(for="textSQLpas") Korisnička lozinka: 
                    input(type="password", id="textSQLpas", name="textSQLpas", placeholder="password")
                div
                    button(type="submit") Submit
            div 
                - for (let i = 0; i < user.length; i++)
                    p #{user[i].username}, #{user[i].userpass}, #{user[i].usermail}
        div(id = "losaAut")
            a(href='/auten', title='auten') Loša autentifikacija
        div(id = "losaAut")
            p 
                strong UPUTE: 
                | Kada je ranjivost uključena možemo unijeti (kreso' or '1' = '1), (' OR 1=1;--)
            p kako bi dobili informacije o korisniku/korisnicima koje ne bi mogli inace saznati
            p jedan od korisnika je ime: web2 lozinka: web123

        //script  
            include ../public/js/index.js
        script.
            function validation(input) {
                if (!input.checkboxSQL.checked) {
                    var inpS = input.textSQL.value
                    if (!inpS.match(/^[a-zA-Z0-9_-]+$/)) {
                        alert("Unijeli ste neispravan unos.");
                        return false;
                    }

                    var inpS2 = input.textSQLpas.value
                    if (!inpS2.match(/^[a-zA-Z0-9_-]+$/)) {
                        alert("Unijeli ste neispravan unos.");
                        return false;
                    }
                }
                return true
            }

            