html 
    head 
        title SIGURNOST
        style 
            include ./public/css/prijavljen.css
    body   
        div 
            p mail: #{user[0].usermail}, lozinka: #{user[0].userpass}     
        div(id = "nazad")
            a(href='/auten', title='auten') Nazad
        

        