html 
    head 
        title SIGURNOST
        style 
            include ./public/css/prijavljen.css
    body   
        div 
            p mail: #{user.username}, lozinka: #{user.userPass}     
        div(id = "nazad")
            a(href='/auten', title='auten') Nazad