/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  div {
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    font-weight: bold;
  }
  
  #nazad a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
  }
  
  #nazad a:hover {
    background-color: #0056b3;
  }
  